@model FakeUberEat.Models.Plat 
@{
    ViewBag.Title = "Plats Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="@Model.Image" alt="@Model.Titre" class="img img-thumbnail"/>
        </div>
        <div class="col-md-9">
            <h3>@Model.Titre</h3>
            <p>@Model.Description</p>

            <div class="row justify-content-around">
                @Model.Price €
                <button class="btn btn-danger">Commander</button>
            </div>
        </div>
    </div>
</div>