@model IEnumerable<FakeUberEat.Models.Plat>
@{
    ViewBag.Title = "Plats";
}
<div class="container">
    <div class="row justify-content-between">
    @foreach(var plat in Model){
        <div class="card" style="width: 18rem;margin-top: 1rem">
            <img class="card-img-top" src="@Html.DisplayFor(Modelplat => plat.Image)" alt="@Html.DisplayFor(Modelplat => plat.Titre)">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(Modelplat => plat.Titre)</h5>
                <p class="card-text">@Html.DisplayFor(Modelplat => plat.Description)</p></div>
            <div class="card-footer">
               <div class="row justify-content-around">
                    <p>Prix : @Html.DisplayFor(Modelplat => plat.Price)€</p>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-area="" asp-controller="Plat" asp-action="Details" asp-route-id="@plat.Id">Voir +</a>
                        <a href="#" class="btn btn-danger">Commander</a>
                    </div>
               </div>
            </div>
        </div>
    }
    </div>
</div>

